@include media-xs {
    .about {

        .social-icons {
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 1rem;
        }

        .jobs {
            grid-template-columns: 1fr;
            grid-gap: 1rem;

            &__titles {
                display: none;
            }
        }
    }

    .home {
        &__intro {
            position: fixed;
            left: 25%;
        }

        &__name {
            font-size: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 2px solid set-text-color($primary-color);
        }
    }
    

    main {
        height: 100%;
        width: 100%;
    
      
        .social-icons {
          position: fixed;
          bottom: 0.5rem;
          left: 0.5rem;
      
          a {
            padding: 0.2rem;
            @include transition-ease;
      
            &:hover {
              color: $secondary-color;
            }
          }
        }
        footer {
           position: absolute;
           top: 0;
           left: 0;
           text-align: left;
          }
    }
}
@include media-sm {
    .about {
        &__bio-image {
            margin-top: 3rem;
            font-size: 1em;
            padding: 10px 1rem;
        }
        
        .social-icons {
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 1rem;
        }

        .jobs {
            grid-template-columns: 1fr;
            grid-gap: 1rem;

            &__titles {
                display: none;
            }
        }
    }

    .home {
        &__intro {
            position: fixed;
            left: 25%;
        }

        &__name {
            font-size: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 2px solid set-text-color($primary-color);
        }
    }
}

@include media-md {

    .home {
        
        &__name {
            font-size: 3rem;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 2px solid set-text-color($primary-color);
        }
    }

    .menu-btn {
        visibility: hidden;
    }
    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__link {
                font-size: 1.5rem;
            }
        }
    }

    .about__bio {
        font-size: 1.5rem;
    }
        .text-secondary {
            font-size: 3rem;
        }
}

@include media-lg {
    .projects {
        &__items {
            grid-template-columns: repeat(2,1fr);
        }
    }
}